:root{
    --body-light-bg: #ffffff;
    --body-dark-bg: #1D1F29;
    --light-mode-txt-color: #1D1F29;
    --dark-mode-txt-color: #ffffff;
    --header-light-bg: #F7F9FF;
    --header-dark-bg: #20222F;
    --card-lightMode-bg: #F1F3FA;
    --card-lightMode-hover-bg: #e1e4f0;
    --card-darkMode-bg: #252b42;
    --card-darkMode-hover-bg: #333a55;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Dark mode colors */
.dark-mode {
    background-color: var(--body-dark-bg);
    color: var(--dark-mode-txt-color);
}
header.dark-mode{
    background-color: var(--header-dark-bg);
}
.followers-count.dark-mode{
    background-color: var(--card-darkMode-bg);
}
.followers-count.dark-mode:hover{
    background-color: var(--card-darkMode-hover-bg);
}
.single-overview.dark-mode{
    background-color: var(--card-darkMode-bg);
}
.single-overview.dark-mode:hover{
    background-color: var(--card-darkMode-hover-bg);
}
/* End of dark mode colors */


body{
    width: 100%;
    height: 100vh;
    background: var(--body-light-bg);
    font-size: 1.75rem;
    color: var(--light-mode-txt-color);

}
main{   
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 15.25rem;
    background: var(--header-light-bg);
    display: flex;
    justify-content: center;

}
.header-content{
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    /* background: red; */
}
.header-txt h3{
    padding-bottom: 5px;
}
.header-txt p{
    font-size: 0.875rem;
    font-weight: 700;
    color: #63687D;
}
.header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8125rem;
}
.header-btn p{
    color: #848BAB;
    text-align: right;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-btn button{
   border: none;
   background: none;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 6rem;
    /* color: var(--light-mode-txt-color); */

}
followers {
    width: 80%;
}
.follower-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 1.5rem;
}
.followers-count{
    width: 15.9375rem;
    height: 13.5rem;
    background: var(--card-lightMode-bg);
    border-top: 4px solid #178FF5;    border-image-slice: 1;
    border-radius: 0.3rem;
    text-align: center;
    transition: .2s ease-in-out;
}
.followers-count:hover{
    background-color: var(--card-lightMode-hover-bg);
    transform: scale(1.03);
}
.followers-count:nth-child(2){
    border-top: 4px solid #1DA1F2;
}
.followers-count:nth-child(3){
    border-top: 4px solid transparent; /* Adjust the border thickness as needed */
    border-image: linear-gradient(90deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    border-image-slice: 1;
}
.followers-count:nth-child(4){
    border-top: 4px solid #C4032B;
}
.email {
    color: #63687D;
    font-size: 0.85rem;
    font-weight: 700;
    margin: 1.5rem 0 1.5rem;
}
#facebook{
    color: #178FF5;
    font-size: 1.3rem;
    padding: 0 0.5rem 0 0;
}
#count{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3rem; 
    letter-spacing: 0.135rem;
    padding-bottom: 0.5rem;
}
#followers{
    color: #63687D;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3125rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}
#arrow-up{
    color: #1EB589;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: normal;
}
#arrow-down{
    color: #DC414C;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: normal;
}

overview{
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

overview h3{
    /* color: #63687D; */
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 0 1rem 0;
}
.daily-overview{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
.single-overview{
    width: 15.9375rem;
    height: 7.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.3125rem;
    background: var(--card-lightMode-bg) ;
    transition: .2s ease-in-out;
}
.single-overview:hover{
    background-color: var(--card-lightMode-hover-bg);
    transform: scale(1.03);
}

.title{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title p{
    color: #63687D;
    font-size: 0.875rem;
    font-weight: 700;
}
#instagram{
    background: linear-gradient(90deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.3rem;
    padding: 0 0.5rem 0 0;
}

#twitter{ 
    color: #1DA1F2;
    font-size: 1.3rem;
    padding: 0 0.5rem 0 0;
}
#youtube{
    color: #C4032B;
    font-size: 1.3rem;
    padding: 0 0.5rem 0 0;
}
.result{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result h1{
    font-size: 2rem;
    font-weight: 700;
}

@media (max-width: 1114px) {
    .follower-section{
        grid-template-columns: repeat(4, 1fr);
    }
    .followers-count{
        width: 13rem;
    }
    .daily-overview{
        grid-template-columns: repeat(4,1fr);
    }
    .single-overview{
        width: 13rem;
    }
}
@media (min-width: 768px) and (max-width: 1020px) {
    .follower-section{
        margin-left: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    overview h3{
        margin-left: 1.5rem;
    }
    .daily-overview{
        margin-left: 1.5rem;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 320px) and (max-width:420px){
    header{
        height: 14.6875rem;
    }
    .header-content{
        display: block;
        margin-top: 2rem;
    }
    .header-txt{
        width: 100%;
    }
    .header-txt h3{
        font-size: 1.4rem;
    }
    .header-btn{
        width: 100%;
        justify-content: space-between;
        gap: 0;
        margin-top: 2rem;
        padding-top: 1.9rem;
        border-top: 2px solid #848BAB;
    }
    section{
       bottom: 2rem;
    }
    .follower-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .followers-count{
        width: 100%;
    }
    .daily-overview{
        grid-template-columns: repeat(1,1fr);
    }
    .single-overview{
        width: 100%;
    }
}